<% @page_title = "新規投稿" %>

<h1><%= @page_title %></h1>

<%= form_with url: post_path, local:true do |form| %>

  <%= render "form", form: form %>
  <div><%= form.submit value='投稿' %></div>

<% end %>