<%= render "common/login_form" %>

<!--<h2>新着</h2>-->
<!--<ul>-->
<!--  <%# articles.each do |article| %>-->
<!--    <li><%#= link_to article.title, article %></li>-->
<!--  <%# end %>-->
<!--</ul>-->

<!--<h2>メンバーのブログ</h2>-->
<!--<ul>-->

  <!--<%# 5.blogs each do |i| %>-->
  <!--  <li><%#= link_to "ブログの見出し", "#" %></li>-->
  <!--<#% end %>-->



  <!--<%# blogs.each do |blog| %>-->
  <!--  <li>-->
  <!--    <%#= link_to blog.title, blog %>-->
  <!--  </li>-->
  <!--  by <%#= link_to blog.member_id.nickname, [blog.member_id, :blogs] %>-->
  <!--</li>-->
  <!--<%# end %>-->
<!--</ul>-->
