<%= render "common/login_form" %>
<h2>新着</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "新着動画の見出し", "#" %></li>
  <% end %>
</ul>
<h2>会員のブログ</h2>
  <% 5.times do |i| %>
    <li><%= link_to "ブログの見出し", "#" %></li>
  <% end %>
</ul>
