<% @page_title = "会員の詳細" %>

<h1><%= @page_title %></h1>

<div class ="toolbar">
  <%= link_to "編集", edit_member_path(@member.id) %> |
  <%= link_to "一覧に戻る", members_path %>
</div>

<%= render "body" %>
